<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web xdt:Transform="InsertIfMissing">
        <!-- Increase max file size -->
		<httpRuntime maxRequestLength="2147483647" />
	</system.web>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<security xdt:Transform="InsertIfMissing">
                <!-- Allow path contains double escaping to avoid errors like %25%25 in path -->
				<requestFiltering allowDoubleEscaping="true">
                    <!-- Increase max file size -->
					<requestLimits maxAllowedContentLength="4294967295" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>